@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .scroll_bar {
      @apply bg-red-300;
   }

   .typo_main {
      @apply font-normal text-primary text-black;
   }

   .typo_sm {
      @apply font-normal text-sm text-black;
   }

   .typo_md {
      @apply font-normal text-md text-black;
   }

   .typo_lg {
      @apply font-normal text-lg text-black;
   }

   .typo_xl {
      @apply font-normal text-xl text-black;
   }

   .line {
      @apply border-b border-solid border-b-gray_light pb-1;
   }

   .input {
      @apply border-b bg-transparent border-solid border-gray1 text-primary w-full p-2 focus-within:border-blue1;
   }

   .input-fill {
      @apply border bg-white rounded-sm resize-none border-solid border-gray1 text-primary w-full p-2 focus-within:border-blue1;
   }

   .btn {
      transition: box-shadow 0.25s ease, background-color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      @apply gap-1 flex items-center cursor-pointer text-md active:shadow-md text-white font-medium py-2 px-4 rounded-sm disabled:opacity-50 disabled:pointer-events-none;
      .icon {
         font-size: 1.2rem;
      }
   }

   .btn_first {
      @apply bg-red1 btn hover:bg-red-400;
   }

   .btn_second {
      @apply bg-blue1  hover:bg-blue-400 btn;
   }

   .container_center {
      @apply container xl:max-w-[1280px] mx-auto;
   }

   .skeleton {
      @apply overflow-hidden relative rounded-sm bg-gray-200;

      &::after {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         transform: translateX(-100%);
         background: linear-gradient(to right, transparent 0%, #e8e8e8 60%, transparent 100%);
         animation: shimmer 0.6s linear infinite;
         content: "";
      }

      @keyframes shimmer {
         100% {
            transform: translateX(100%);
         }
      }
   }
}

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
}

body {
   @apply text-black text-primary;
}

pre {
   font-family: inherit;
   white-space: pre-wrap;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   max-width: 100%;
   display: block;
   @apply text-transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

#__next {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

//slider
.swiper {
   @apply relative;
}

.swiper-wrapper {
   @apply items-stretch;
}

.swiper-slide {
   @media (max-width: 640px) {
      @apply flex items-center justify-center;
   }
}
