.menu {
   @apply bg-white rounded-md py-2 border border-solid 
   border-gray-100;
   display: none;

   &.menu_active[data-popper-reference-hidden] {
      display: block;

      box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.24);
   }

   @keyframes appear {
      0% {
         opacity: 0;
      }

      4% {
         opacity: 0.15;
      }

      100% {
         opacity: 1;
      }
   }

   .anchor_overlay {
      @apply left-0 bottom-0 z-50 opacity-100 absolute w-52 h-52 bg-red-500;
   }
}
