.btn_cont {
   @apply absolute left-0 top-0 w-full h-full z-10 flex items-center justify-center;
}

.control_btn {
   @apply text-[4rem] text-white;

   &.pause {
      opacity: 0;
      animation: fadeBtn 0.5s ease-in-out;
   }

   &.btn_static {
      animation: none;
      opacity: 1;
   }

   @keyframes fadeBtn {
      0% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }
}

.timeBar {
}
